<div class="row d-flex justify-content-center pt-5">
    <div class="col-sm-9 d-flex justify-content-end">        
        <button mat-raised-button color="accent" class="boton-crud"(click)="abrirModalCrear()">Crear</button>        
    </div>
</div>
<div class="row justify-content-center pt-2">
  <div class="col-9 contenedor-foot-head-table">
    <mat-form-field appearance="standard" class="from-field" color="accent" style="background-color: #424242;">
      <mat-label class="mat-label-crud">Buscar por cualquier dato</mat-label>
      <input matInput (keyup)="filtrarTabla($event)" placeholder="Ingrese dato" #input>
    </mat-form-field>
  </div>
</div>
<div class="row d-flex justify-content-center">         
    <div class="col-sm-9 table-container">          
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <ng-container matColumnDef="Accion">
              <th mat-header-cell *matHeaderCellDef> </th>
              <td mat-cell *matCellDef="let element" class="accion"> 
                
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                  <i class="gg-more-vertical-alt"></i>
                </button>
                <mat-menu #menu="matMenu" class="menu-table">
                  <button mat-menu-item (click)="eliminar(element.Id)">
                    <i class="fa-solid fa-trash-can menu-table-boton"></i>
                    <span>Eliminar</span>
                  </button>
                  <button mat-menu-item (click)="abrirModalActualizar(element.Id)">
                    <i class="fa-solid fa-pen-to-square menu-table-boton"></i>
                    <span>Editar</span>
                  </button>
                </mat-menu>
              </td>
            </ng-container>

            <ng-container matColumnDef="Nombre">
              <th mat-header-cell *matHeaderCellDef> Nombre </th>
              <td mat-cell *matCellDef="let element" (dblclick)="abrirModalActualizar(element.Id)" > {{element.Nombre}} </td>
            </ng-container>

            <ng-container matColumnDef="Rol">
              <th mat-header-cell *matHeaderCellDef> Teléfono </th>
              <td mat-cell *matCellDef="let element"(dblclick)="abrirModalActualizar(element.Id)"> {{element.Rol}} </td>
            </ng-container>

            <ng-container matColumnDef="CodigoCarnet">
              <th mat-header-cell *matHeaderCellDef> Correo Eléctronco </th>
              <td mat-cell *matCellDef="let element" (dblclick)="abrirModalActualizar(element.Id)"> {{element.CodigoCarnet}} </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
    </div>             
    <div class=" row justify-content-center" style="padding: 0;">
      <div class="col-9" style="padding: 0;">        
        <mat-paginator [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons 
        aria-label="Select page of periodic elements">
        </mat-paginator>
      </div>
    </div>
</div>

  