@import url('https://css.gg/more-vertical-alt.css');

table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  
  td, th {
    width: 25%;
  }
  .boton-crud{
      min-width: 200px !important;
  }
  .mat-label-crud{
    padding-left: 10px !important;
  }

.mat-form-field input {
    padding-left: 10px;
}

.mat-cell{
  min-width: 200px;

}

.accion{
  min-width: 10px !important;
  margin-right: 3px;
  text-align: center !important;
  padding-left: 10px !important;

}
.contenedor-foot-head-table{
  padding: 0;
}
.table-container {
  overflow: auto;
  padding: 0;
}

.table-container::-webkit-scrollbar {
  -webkit-appearance: none;
}

.table-container::-webkit-scrollbar:vertical {
  width:3px;
}

.table-container::-webkit-scrollbar-button:increment,.container::-webkit-scrollbar-button {
  display: none;
} 

.table-container::-webkit-scrollbar:horizontal {
  height: 10px;
}

.table-container::-webkit-scrollbar-thumb {
  background-color: #69f0ae;
  border-radius: 20px;
}
.menu-table-boton{
  color: #69f0ae !important;
  padding: 3px !important;
}

.table-container::-webkit-scrollbar-track {
  border-radius: 10px;  
}

mat-form-field input{
  color: white;
}

